################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DVDbolt/.vs/DVDbolt/FileContentIndex/48b7431c-c5b2-4b6e-b46e-cd0b93807275.vsidx
/DVDbolt/.vs/DVDbolt/FileContentIndex/d3d40f82-0eb6-49c2-91f0-fc7e22056897.vsidx
/DVDbolt/.vs/DVDbolt/FileContentIndex/0be3c142-4448-4b1e-b272-5e56a1c9d768.vsidx
/DVDbolt/.vs/DVDbolt
